local/
.kubeconfig

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
bin
testbin/*

# Test binary, build with `go test -c`
*.test

# OS specific
.DS_Store

# Hugo artifacts
.hugo_build.lock
/website/resources
/website/node_modules
/website/public

# /tmp
tmp/